
<div class="row padding-inside-top-sm padding-inside-bottom-sm">
  <div class="col-md-10 col-md-offset-1">
    <a href="/complaints/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>

<%= render @complaints %>
