<div class="page-header">
  <h1>
    Captions
    <a href="/captions/new" class="btn btn-lg btn-success">New Caption</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @captions.each do |caption| %>
      <tr>
        <td><%= caption.name %></td>
        <td>
          <a href="/captions/<%= caption.id %>" class="btn btn-primary">Show</a>
          <a href="/captions/<%= caption.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_caption/<%= caption.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
